{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "cwd": "packagejson",
        "alias": {
          "@": "./api/source"
        }
      }
    ]
  ]
}




